body{
margin:0;
font-family:Arial;
display:flex;
background:#f5f6fa;
}

.sidebar{
width:220px;
background:#0b1c36;
color:white;
height:100vh;
padding: 10px;
position:fixed;
top:0;
left:0;
}

.logo{
font-size:22px;
margin-bottom:30px;
}

.menu a{
display:block;
color:#cbd5e1;
padding:12px;
text-decoration:none;
border-radius:6px;
margin-bottom:8px;
}

.menu a.active,
.menu a:hover{
background:#2563eb;
color:white;
}

.topbar{
position:fixed;
top:0;
left:240px; /* FIX */
right:0;
height:70px;
background:white;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 20px;
box-shadow:0 2px 5px rgba(0,0,0,0.1);
z-index:1000;
}

.search-box{
background:#f1f5f9;
padding:8px 12px;
border-radius:10px;
display:flex;
gap:10px;
width:300px;
}

.search-box input{
border:none;
outline:none;
background:none;
width:100%;
}

.main{
margin-left:240px;
margin-top:80px;
padding:20px;
width:100%;
}

.header{
display:flex;
justify-content:space-between;
align-items:center;
}

.btn{
background:#2563eb;
color:white;
padding:10px 15px;
border:none;
border-radius:6px;
cursor:pointer;
}

.filters{
display:flex;
gap:10px;
margin:20px 0;
}

.filters input,
.filters select{
padding:10px;
border-radius:8px;
border:1px solid #ddd;
}

table{
width:100%;
background:white;
border-radius:10px;
border-collapse:collapse;
overflow:hidden;
}

th,td{
padding:14px;
}

th{
background:#f1f5f9;
}

tr{
border-bottom:1px solid #eee;
}

.user{
display:flex;
align-items:center;
gap:10px;
}

.avatar{
width:35px;
height:35px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
color:white;
font-weight:bold;
}

.badge{
padding:5px 10px;
border-radius:20px;
font-size:12px;
}

.admin{background:#dbeafe;color:#1d4ed8;}
.manager{background:#ede9fe;color:#6d28d9;}
.staff{background:#e5e7eb;color:#374151;}
.active{background:#d1fae5;color:#065f46;}
.inactive{background:#eee;color:#555;}

.modal{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.4);
justify-content:center;
align-items:center;
}

.modal-content{
background:white;
padding:20px;
border-radius:10px;
width:300px;
}

.modal input,
.modal select{
width:100%;
margin:10px 0;
padding:10px;
}